<html>
<head>
	<link rel="stylesheet" href="styles/sassmain.css">
	<link href="https://fonts.googleapis.com/css?family=Bahiana|Barrio" rel="stylesheet">
</head>
<body>
	<h1>first time with sinatra</h1>
	<h2>hope this shit works</h2>
	<p>"o man"</p>
	<h1>i dont knwo what im doin</h1>
	<h2>hope this turns into something</h2>
	<% 10.times do %>    <!--run ruby scripts with %-->
		<strong>     
		THE PLANET IS 'SPLODIN'!   
		</strong> 
	<% end %>

	<h2 class="hi">friends</h2>
		<% @names.each do |name| %>
			<li><%= name %></li>
		<% end %>
</body>
</html>