<html>
<head>
	<link rel="stylesheet" href="styles/sassmain.css">
	<link href="https://fonts.googleapis.com/css?family=Bahiana|Barrio" rel="stylesheet">
	<script src="js/cookies.js"></script>
	<script src="js/jquery.js"></script>
</head>
<body>
	<%=yield%>
</body>
</html>